*{
    font-family: 'Lucida Console' ;  
}
.btn{
   background-color: grey;
   color:white;
   margin-left: 10px;

}
label{
  padding: 10px;
}
td,th{
	width:30%;
	height: auto;
    vertical-align: bottom;
    text-align: center;
}
.iconCol{
	width:5%;
}
tr td:last-child {
    padding-right: 0px;
}
tr td:first-child {
    padding-left:0px;
}
.metro-tile {
  background-color: grey;
  width: 350px; 
  height: 104px;
  text-align: center;
  padding: 5px;
  color: #FFF;
  font-size: 12px;
  border-width: 3px;
  border-style: solid;
  cursor: default;
  border-color: default;
  margin-bottom: 0px;
  border-bottom: 0px;
}
.metro-tile-small {
  width: 190px;
  height: 50px;
}
.metro-tile-red {
  background-color:#c43c35;

}
.metro-tile-green {
  background-color: #46a546;

}