
*{
    font-family: 'Lucida Console' ;  
}
.btn{
   background-color: grey;
   color:white;
   margin-left: 10px;

}
label{
  padding: 10px;

}
.table
{
  width:50%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.nameCol{
  width: 50%;
  width: 20%;
  text-align: center;
}
.symbolCol{
  width:5%;
  text-align: center;
  font-size: 20px;
}

.iconCol{
	width:5%;
  font-size: 20px;
}

tr td:last-child {
    padding-right: 0px;
}
tr td:first-child {
    padding-left:0px;
}
.metro-tile {
  background-color: #00FF00;
  width: 350px; 
  height: 104px;
  text-align: center;
  padding: 5px;
  color: #FFF;
  font-size: 14px;
  border-width: 3px;
  border-style: solid;
  cursor: default;
  border-color: default;
  margin-bottom: 0px;
  border-bottom: 0px;
}
.metro-tile-small {
  width: 190px;
  height: 50px;
}
.metro-tile-red {
  background-color: #CC3300
}
.metro-tile-green {
  background-color: #009933
}

.changeCol-green{
  border-left: 0.8em solid #009933
}
.changeCol-red{
  border-left: 0.8em solid #CC3300
}
.groupHeader{
  color:#6600CC;
}